<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ActualizarGustosServlet</servlet-name>
        <servlet-class>Servlets.ActualizarGustosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarDatosServlet</servlet-name>
        <servlet-class>Servlets.ActualizarDatosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarDatosServlet</servlet-name>
        <servlet-class>Servlets.RegistrarDatosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoguinServlet</servlet-name>
        <servlet-class>Servlets.LoguinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuntuarLibroServlet</servlet-name>
        <servlet-class>Servlets.PuntuarLibroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTodosLibrosServlet</servlet-name>
        <servlet-class>Servlets.ListarTodosLibrosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarDetalleLibroServlet</servlet-name>
        <servlet-class>Servlets.MostrarDetalleLibroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecomendacionesServlet</servlet-name>
        <servlet-class>Servlets.RecomendacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalirServlet</servlet-name>
        <servlet-class>Servlets.SalirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerRespuesta</servlet-name>
        <servlet-class>Servlets.ObtenerRespuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimerInicioServlet</servlet-name>
        <servlet-class>Servlets.TimerInicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimerFinServlet</servlet-name>
        <servlet-class>Servlets.TimerFinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTitulo</servlet-name>
        <servlet-class>Servlets.SearchTitulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoria</servlet-name>
        <servlet-class>Servlets.SearchCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAutor</servlet-name>
        <servlet-class>Servlets.SearchAutor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarGustosServlet</servlet-name>
        <url-pattern>/ActualizarGustosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarDatosServlet</servlet-name>
        <url-pattern>/ActualizarDatosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarDatosServlet</servlet-name>
        <url-pattern>/RegistrarDatosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoguinServlet</servlet-name>
        <url-pattern>/LoguinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntuarLibroServlet</servlet-name>
        <url-pattern>/PuntuarLibroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTodosLibrosServlet</servlet-name>
        <url-pattern>/ListarTodosLibrosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarDetalleLibroServlet</servlet-name>
        <url-pattern>/MostrarDetalleLibroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecomendacionesServlet</servlet-name>
        <url-pattern>/RecomendacionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalirServlet</servlet-name>
        <url-pattern>/SalirServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerRespuesta</servlet-name>
        <url-pattern>/ObtenerRespuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimerInicioServlet</servlet-name>
        <url-pattern>/TimerInicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimerFinServlet</servlet-name>
        <url-pattern>/TimerFinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTitulo</servlet-name>
        <url-pattern>/SearchTitulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoria</servlet-name>
        <url-pattern>/SearchCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAutor</servlet-name>
        <url-pattern>/SearchAutor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
